html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-image: url(1256888-free-tokyo-drift-wallpaper-2560x1440-desktop.jpg)
    /*/radial-gradient(circle 100vw at left top,black,grey 100%),radial-gradient(circle 100vw at right center,rgba(247,105,6,.25) 0,rgba(247,105,6,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(0,136,160,.5) 0,rgba(0,136,160,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(247,105,6,.25) 0,rgba(247,105,6,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(0,136,160,.4) 0,rgba(0,136,160,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(247,105,6,.25) 0,rgba(247,105,6,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(0,136,160,.5) 0,rgba(0,136,160,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(247,105,6,.25) 0,rgba(247,105,6,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(0,136,160,.4) 0,rgba(0,136,160,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(247,105,6,.25) 0,rgba(247,105,6,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(0,136,160,.5) 0,rgba(0,136,160,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(247,105,6,.25) 0,rgba(247,105,6,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(0,136,160,.4) 0,rgba(0,136,160,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(247,105,6,.25) 0,rgba(247,105,6,0) 100%),radial-gradient(circle 100vw at left center,rgba(28,222,126,.2) 0,rgba(28,222,126,0) 100%),radial-gradient(circle 100vw at right center,rgba(0,136,160,.4) 0,rgba(0,136,160,0) 100%);
/*/}


.center {
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
}

#Button1 {
    position: absolute;
    left: 10px;
    top: 0px;
    background-color: #55B6B2;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#Button2 {
    position: absolute;
    left: 165px;
    top: 0px;
    background-color: #55B6B2;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#Button3 {
    position: absolute;
    left: 320px;
    top: 0px;
    background-color: #55B6B2;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#Button4 {
    position: absolute;
    left: 10px;
    top: 155px;
    background-color:#8A0307;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#Button5 {
    position: absolute;
    left: 165px;
    top: 155px;
    background-color:#8A0307;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#Button6 {
    position: absolute;
    left: 320px;
    top: 155px;
    background-color:#8A0307;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#Button7 {
    position: absolute;
    left: 10px;
    top: 310px;
    background-color:#6BE57F;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#Button8 {
    position: absolute;
    left: 165px;
    top: 310px;
    background-color: #6BE57F;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#Button9 {
    position: absolute;
    left: 320px;
    top: 310px;
    background-color: #6BE57F;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
#sidebutton {
    position: absolute;
    left: 475px;
    top: 0px;
    background-color: pink;
    width: 75px;
    height: 460px;
    border-radius: 8px;


}
#Play {
    position: absolute;
    left: 120px;
    top: 460px;
}

#button10 {
    position: absolute;
    left: 10px;
    top: 600px;
    width: 460px;
    height: 50px;
    border-radius: 8px;
    background-color: #F2D061;

}

#button10pause {
    left: 270px;
    top: 490px;
    position: absolute;
    background-color: #ffffff;
    width: 90px;
    height: 90px;
    border-radius: 0px;
}