
body {
    background-image: url(bg.png);
    background-attachment: scroll;
}

}
ul#navigation li {
    padding: 0px;
    margin: 5px;
    width: 20%;
}
nav {
    position:fixed;
    top:0;
    right:0;
}
    nav a {
        display: inline-block;
        text-decoration: none; 
        font-weight: bold;
        color: white; 
        background-color: #C9B2CE;
        font-family:arial, "lucida console", sans-serif;
        top: 0px;
        right: 150px;
        height: 25px;
        padding: 5px;
        border-radius: 0px 0px 15px 15px;
    
            transition: all .25s ease-in;	  
      }
      nav a:focus,
      nav a:hover,
      nav a:active  
      nav li[aria-current] a:focus,
      nav li[aria-current] a:hover {    
        color: white; 
        background-color:#AA95AE;
      }

      h3{
        color:#AA95AE;   
        font-size:14pt;  
        font-family:arial, "lucida console", sans-serif; 
      }
     p{
      color:#AA95AE;   
      font-size:12pt;  
      font-family:arial, "lucida console", sans-serif; 
     }
     h4{
        color:#AA95AE;   
        font-size:12pt;  
        font-family:arial, "lucida console", sans-serif; 
      }
      h2{
        color:#59101E;   
        font-size:18pt;  
        font-family:arial, "lucida console", sans-serif; 
      }
      h1{
        color:#59101E;   
        font-size:22pt;  
        font-family:arial, "lucida console", sans-serif; 
      }
      div {
        width: 800px;
        margin: auto;
      }
    
.box1 {
    background: #59101E;
    color: #AA95AE;
    width: 300px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    text-align: left;
}
.box2 {
    background: #59101E;
    color: #AA95AE;
    width: 400px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    text-align: left;
}
.box3 {
    background: #59101E;
    color: #AA95AE;
    width: 100px;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 0px;
    text-align: left;
}
#LeftColor {
    color: #59101E;
    text-align: left
}
.red {
    color:#59101E ;
}

.kontakt {
 text-align: left;
}

.nav-unten {
    position:fixed;
    bottom:0;
    right:0;
    display: inline-block;
    text-decoration: none; 
    font-weight: bold;
    color: white; 
    background-color: #C9B2CE;
    font-family:arial, "lucida console", sans-serif;
    bottom: 0px;
    right: 0px;
    height: 25px;
    padding: 5px;
    border-radius: 0px 0px 0px 0px;
    transition: all .25s ease-in;	
    color: white; 
    background-color:#AA95AE;

}