body {
    background-image: url(bg3.png);
    text-align: center;
  }
  body {
    display: block;
    margin: 8px;
  }
  
      #wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
  
    h1 {
      position: absolute;
      text-align: left;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 2em;
      color: white;
      top: 15%;
      left: 13%;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  
  p {
    position: absolute;
    top: 45%;
    left: 13%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1em;
    line-height: 2em;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .star-3 {
    position: absolute;
    bottom: 20%;
    right: 40%;
}
.star-2 {
    position: absolute;
    top: 50%;
    left: 25%;
}
  
.star-1 {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.star-4 {
    position: absolute;
    top: 40%;
    right: 20%;
}
.star-1:hover{
    background-image: url(stern_hover.png);
    
}
.star-2:hover{
    background-image: url(stern_hover.png);
}
.star-3:hover{
    background-image: url(stern_hover.png);
}
.star-4:hover{
    background-image: url(stern_hover.png);
}