body {
    background-color: #bdccd4;
}
/* #ffbae5 
#bdccd4
#0dccd4
#87cefa
*/
h1 {
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.list {
position: absolute;
top:30%;
left: 20%;
}

.task {
    margin-top: 20%;
    margin-left: 10%;
    width: 450px;
    height:25px;
    color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 4px;
}
.addbut {
    background-color: darkgray;
    position: absolute;
    top:35%;
    left:55%;
    width: 80px;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    color: lightgray;
}
.frame {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 400px;
    height: 1000px;
}
.firsttask {
   position:absolute;
    margin-top: 0%;
    margin-left:20%;
    width: 450px;
    height:25px;
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: none;
    background-color:transparent;

}
.bin {
    position: absolute;
    top: 20%;
    left: 90%;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 40px;
}
.checkbox {
    position: absolute;
    top: 10%;
    left: 7%;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.Template {
    position: relative;
    top: 0%;
    left: 0%;
    width: 400px;
    height: 45px;
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

}
.counter {
    position: absolute;
    margin-left: 20%;
    margin-top: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkgrey;
}
.number {
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkgray;
}
#done {
    position: absolute;
    top: 20%;
    left: 0%;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 25px;
}
.choose{
    color: darkgray;
    font-size: 20px;
    position: absolute;
    top:10%;
    left:80%;
}
.co1 {
    position: absolute;
    top:20%;
    left:80%;
    background-image: url(button.png);
    height:20px;
    width: 150px;
    color: white;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
