
body{
	background-color:#293133;
	color: grey;
}
header {
	grid-column: span 2;
	text-align: center;
}

div {
	border: thin solid black;
	margin: 1em;
}
h2 {
	text-align: center;
}

#shopping {
	margin-left: 1%;
	position: absolute;
	width: 30%;
}

#clean {
	margin-left: 33%;
	position: absolute;
	width: 30%;
}
#money {
	margin-left: 67%;
	position: absolute;
	width: 30%;
}
#order{
	margin-top: 25%;
	
}
